:root {
  --shadow-color:rgb(53, 136, 224);
  --shadow-color-light:white;
}

.casinocards {
  padding-top: 6rem;
}
.games{
  font-family: monospace;
  position: relative;
  font-size: 120px;
  text-transform: uppercase;
  font-weight: normal;
  display: block;
  height: auto;
  text-align: center;
  border: 5px solid;
  border-color: (53, 136, 224);
  padding-right: 20px;
  padding-left: 20px;
  box-shadow:-1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  

}

.games {
    color: rgb(53, 136, 224);
  text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color), -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
}

.casinocards__background {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.casinocards__container {

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}


.casinocards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.casinocards__items {
  padding-top: 2rem;
  margin-bottom: 100px;
}

.casinocards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.casinocards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(53, 136, 224);
  -webkit-filter: drop-shadow(0 6px 20px rgba(53, 136, 224));
  filter: drop-shadow(0 6px 20px rgba(53, 136, 224));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.casinocards__item__pic-wrap {
  position: relative;
  width: 450px;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.casinocards__item__pic-wrap::after {
    font-family: monospace;
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: 100%;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  background-color:rgba(53, 136, 224);
  box-sizing: border-box;
}

.casinocards__item__img:hover {
  transform: scale(1.2 );
}

.casinocards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}



.casinocards__item__info {
  padding: 20px 75px 30px;
  text-align: center;
  background: white;
  z-index: 1;
}

.casinocards__item__text {
    font-family: monospace;
  color: #252e48;
  font-size: 24px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 64%;
  }
}

@media only screen and (min-width: 1024px) {
  .casinocards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .casinocards__item {
    margin-bottom: 2rem;
  }
}
