:root {
  --shadow-color:rgb(53, 136, 224);
  --shadow-color-light:white;
}
 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
} 

.coinflip p {
  position: relative;
  text-align: center;
  margin-bottom: -10px;
}

.fee-announce{
  color: white;
}
.coinflip li {
  position: relative;
  list-style: none;
}

.coinflip ul {
  padding: 12px;
  margin: 5px;
}

.coinflip-header {
  position: relative;
  padding-top: -15px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 32px;
  color: rgb(53, 136, 224);
  text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color), -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
}
.coinflip-create-button {
  position: relative;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 20px;
  width: 230px;
}
.coinflip-create-input {
  position: relative;
  width: 230px;
  font-size: 20px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.game-footer {
  text-align: center;
  color: white;
}

.game-footer ul {
  display: inline-flex;
  list-style: none;
}

.game-footer li {
  padding: 18px;
  margin: auto;
}

.game-footer a {
  text-decoration: none;
}

.game-footer a:visited {
  color: White;
}
.btn {
  position: relative !important;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 0px;
}