.game {
  border-style: outset;
  border-color: gold;
  border-radius: 20px;
  background-color: gray;
  margin: 24px;
  z-index: -1;
  min-width: 100%;
  flex-direction: column;
  align-items: center;

}

.game-info {
  display: flex;
}

.game-info p {
  margin: 10px;
  padding: 20px;
  font-size: 17px;
}

.game-info button {
  border-radius: 10px;
  border: solid;
  border-color: black;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  border-style: outset;
  background-color: rgb(53, 136, 224);
  color: white;
}

.winner-announce {
  padding-left: 35%;
  text-align: center;
  font-size: 24px;
  text-shadow: -2px 2px 2px #000, 2px 2px 2px #000,
				 2px -2px 2px #000;
  color: rgb(53, 136, 224);
}
