ul { display: inline-block; }
.fee-announce{
  position: relative;
  color: white;
  text-align: center;
}
.jackpot {
  background-color: rgb(62, 62, 62);
  min-height: 100vh;
  
}
.jackpot-container p{
  font-family: monospace;
  text-align: center;
  color: white;
  font-size: 20px;
    position: relative !important;
}
.jackpot-container {
    position: relative !important;
}
.jackpot-header {
  font-family: monospace;
  position: relative;
  text-align: center;
  font-size: 50px;
  color: rgb(53, 136, 224);
  text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color), -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
}
.jackpot-timer {
  padding-top: -4rem;
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
}
.jackpot-input {
  font-family: monospace;
}


.withdraw-button {
  background-color:rgb(53, 136, 224); 
  width: 300px;
  border: 1px solid;
  border-radius: 50px;
  border-width: medium;
  border-color: white;
  color: white;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  margin-left: 80%;
  font-family: monospace;
}
.Countdown {
  margin-top: 120px;
  border: 2px solid grey;
  border-radius: 4px;
  width: 400px;
  background-color: rgb(22, 27, 31);
  box-shadow: 0 3px 6px rgb(12, 12, 12);
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

}

.Countdown-header{
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.jackpot-join-button {
font-family: monospace;
  background-color: white;
  border-radius: 4px;
  padding: 10px 20px;
  color: black;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
  position: relative;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 20px;
  width: 230px;
}

.jackpot-join-button:hover {
  color: white;
  background-color:rgb(53, 136, 224);
}
.Countdown-display {
  margin-top: 5px;
  margin-bottom: 20px;
  
}


.Countdown-time {
  font-size: 36px;
  margin: 5px 0;
    color: white;

}


.jackpot-input {
  position: relative;
  width: 230px;
  font-size: 20px;
  margin: 0 auto;
  display: block;
  text-align: center;
}


.current-jackpot-bets{
    font-size: 30px;
    color: rgb(53, 136, 224);
    text-align: center;
}

.players {
color: white;
padding: 5px;
border-left: solid 3px rgb(53, 136, 224);
border-top:solid 3px rgb(53, 136, 224); 
border-bottom:solid 3px rgb(53, 136, 224);
}
.bets {
padding: 5px;
color: white;
border-right: solid 3px rgb(53, 136, 224);
border-top:solid 3px rgb(53, 136, 224); 
border-bottom:solid 3px rgb(53, 136, 224);
}


.btn {
  position: relative !important;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 0px;
}
.player-list {
    color:white;
    text-align: center;
}
.game-footer a{
  color: white;
}
